#exampleInputEmail1{
    width: 20%;
    margin-left: 40%;

}
.form-group>label,.form-group>button{
    margin: 2%;
    margin-left: 40%; 
}
#btnSubmitAge{
    background-color: #683200;
    border: none;
    margin: 2%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    width: 10%;
    margin-left: 40%;
}
.form-group>label{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 30px;
}
.form-group>.btn-success{
    position: relative;
    top: 10px;
    left: 10%;
}
#btnSubmitAge1{
    background-color: #683200;
    border: none;
    margin: 5%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
   width: 20%;
   height: 50px;
   margin-left: 40%;
 padding: 1%;
    color: white;
    border-radius: 30px;
    padding-bottom: 5%;
   

   
  

}
#btnSubmitAge1>a{
    color: white;

}