.UseName{
   margin-left: 40%;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 20px;
}
.imageUser{
    position: absolute;
    top:15px;
   left: 92%;
    
}
.imageUser>img{
    width: 30%;

}
.userName{
    position:absolute;
    top: 55px;
    right: 35px;
}
