form>input{
    width: 30%;
}
form >button{
    width: 20%;
}
form >#Reason,form>#Interest{
    width: 50%;
    height: 150px;
}
.waitingList>div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly,start;
    width: 20%;
    height: 50px;
}
.waitingList>li{
    border: solid black;
    height: 10px;
}
.waitingList>div{
    border: solid black;
}
.waitingList>div>p{
border-right: solid black 2px ;

}

.table, th, td {
    border:1px solid black;
  }
.container>.headerForm{
    position: relative;
   font-size: 50px;
   margin: 5%;
}
.Notification{
    display: none;
    position: absolute;
    top: 60%;
    left: 30%;
    border: solid black;
    width: 30%;
    height: 800px;
    padding: 2%;
   text-align: center;
    background-color:white;
    border-radius: 50px;
   


}
.Notification>img{
    width: 100%;
}
.Notification>h1{
    font-size: 30px;
    font-weight: bold;

   
}
.Notification>button{
    margin: 10%;
    border-radius: 25px;
    background-color: rgb(88, 43, 11);
}
.imageTeacherVolunteer>img{
    width: 50%;
    border-radius: 70px;
  
}
.imageSponsorVolunteer>img{
    width: 25%;
    border-radius: 70px;
}
.containe1>img{
    border-radius: 70px;
}
.TitleTeacherV>h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    margin-left: 20%;
}
.header5>div>span{

    font-size: 100px;
    color: rgb(120, 58, 13);
    font-weight: bold;
    

}
.header5>div{
    position: relative;
    right: 10%;
   width: 100%;
    height: 100px;
    margin: 10%;
    margin-bottom: 5%;
}
.TitleTeacherV>p{
  margin: 30%;
  font-size: 35px;
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.TitleTeacherVSchedule{
    text-align: center;
    margin-bottom: 10%;
  
}
.TitleTeacherVSchedule>h3{
    text-align: center;
    margin-bottom: 5%;
    font-size: 70px;
}
.TitleTeacherVSchedule>input{
    margin: 2%;
    margin-left: 0%;
    border: solid rgb(136, 70, 22);
    width: 30%;

}
