li{
    list-style: none;
    list-style: none;
}
.image1>img{
width: 90%;
border-radius: 25px;

}

.image2>img{
    width: 30%;
    border-radius: 25px;
    
    
   

}
.image1>img:hover,.image2>img:hover{
    box-shadow: 5px 10px 8px 10px #888888;
    list-style:none;
    text-decoration:none;
    
}



.container2{
    display: flex;
    flex-direction: row;
    margin-left:15%
    
}
.containersoma{
    box-shadow: 5px 10px 8px 10px #888888;
    margin: 5%;
    text-align: center;
    padding: 2%;
    padding-left:5%;

}
.image1>p ,.image2>p{
    color: black;
    
   

}
.container2>li{
    list-style: none;
}
.containersoma>ul>.containe1>img{
    width: 15%;
}
.containe1{
    display: flex;
    flex-direction: row;
    margin: 5%;
    margin-left: 40%;
    
}
.containe1>h2{
    margin-top:5%

}
.image1:hover,.image2:hover{
    color: rgb(111, 54, 13);
}
.options{
  font-size: 30px;
  font-family:New Century Schoolbook
}
.containerR{
    box-shadow: 5px 10px 8px 10px #888888;
    margin: 5%;
    text-align: center;
    padding: 2%;
    padding-left:5%;
    
    
}
.btn-primary{
    margin-left:2%;
}
#age{
    width:10%;
    border:solid 5px #683200   ;
    border-radius: 10px;
}
.ListCourses{
 color: black;
 display: flex;
 flex-direction: column;
 margin-left: 30%;
 text-decoration: none;
 
}
.ListCourses:hover{
    color: black;
}
.ListCourses>li{

    font-size: 50px;
    list-style-type: decimal;
    text-align: left;
    margin-bottom: 2%;
    

}
.containerC>ol>img{
    position: relative;
    top: 150px;
    right: 40%;
  width: 30%;
}
.containerC{
    box-shadow: 5px 10px 8px 10px #888888;
    margin: 5%;
    text-align: center;
    padding: 2%;
    padding-left:5%;
}
.allCourses{
    position: relative;
    bottom: 150px;
}
.containerC>h1{
    font-size: 70px;
}

