.form input {
   display: block;
   margin-top: 20%;
   padding-left: 20px;
   justify-content: center;
   padding: 2%;
   border-radius: 2px solid black;
   }

   .btn{
    margin-top: 15%;
   
   }

   .googlemap{
      width: 50%;
      height: 50%;
      margin-top: 50%;
   }

   h2{
     
   }

