.HeaderGrade>img{
    position: relative;
    right:15%;
    width: 70%;

}
.TeacheGrade1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.TeacheGrade1>h1{
    font-size: 50px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.TeacheGrade1>img{
    width: 50%;
}
.TeacheGrade1{
    margin-left: 30%;
   

}

.ThemeCourse{
    margin-left: 30%;
   
}
.TopicGrade1{
    position:fixed;
    right: 20px;
    top: 30%;
    
}
#Gradeprogram{
    margin-right: 20%;
}
#weekButton{
    border: none;
    background-color: transparent;
    color: rgb(2, 172, 239);

}
#weekButton:hover{
    text-decoration: underline;
    color: rgb(57, 110, 131);
    
}
#weekButton:active{
    color: skyblue;
}